<h2 mat-dialog-content class="heading">Forgot Password</h2>
<div mat-dialog-content>
    <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
        <div class="forgot-password-text-container">
            <p>Please enter the email address associated with your account to recieve your password reset instructions.</p>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" [(ngModel)]="email" name="email" required>
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-button (click)="onClose()">Cancel</button>
            <button mat-button type="submit" [disabled]="!forgotPasswordForm.valid">Submit</button>
        </div>
    </form>
</div>
