<div class="login-container">
  <div class="login-card">
    <img
      src="assets/google-cloud-logo.png"
      alt="Cloud Logo"
      class="cloud-logo"
    />
    <h1>Sign In</h1>
    <form (submit)="onLogin()">
      <div class="input-group">
        <label for="username">Username</label>
        <input
          type="text"
          id="username"
          [(ngModel)]="username"
          name="username"
          placeholder="Type your username"
          required
        />
      </div>
      <div class="input-group password-group">
        <label for="password">Password</label>
        <div class="password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Type your password"
            required
          />
          <i 
            (click)="togglePasswordVisibility()" 
            class="eye-icon" 
            [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
          ></i>
        </div>
      </div>
      <div>
        <a href="javascript:void(0)" (click)="openForgotPasswordModal()" class="forgot-password">
          Forgot your password?
        </a>
      </div>
      <button type="submit" class="login-button" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading">Login</ng-container>
        <div *ngIf="isLoading" class="spinner-small"></div>
      </button>
      
    </form>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
