<div class="container">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <div class="revenue">
      <app-header></app-header>

      <!-- Revenue Target Cards -->
      <div class="cards">
        <div *ngFor="let card of cards" class="card">
          <h3>{{ card.title }}</h3>
          <p>{{ card.value }}</p>
          <span>{{ card.percentage }}</span>
        </div>
      </div>

      <!-- Revenue Table -->
      <div class="table-container">
        <!-- New flex container for table header -->
        <div class="table-header">
          <h2>Revenue Records</h2>
          <button class="open-filter" (click)="showFilterOverlay = true">
            Filters
          </button>
        </div>
        <table class="scrollable-table">
          <thead>
            <tr>
              <th>Client</th>
              <th>Product Name</th>
              <th>Product Category</th>
              <th>Total</th>
              <th>Month</th>
              <th>Quarter</th>
              <th>Year</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of revenueData">
              <td>{{ row.client_name }}</td>
              <td>{{ row.product_name }}</td>
              <td>{{ row.product_category }}</td>
              <td>{{ row.amount | currency }}</td>
              <td>{{ row.month }}</td>
              <td>{{ row.fiscal_quarter }}</td>
              <td>{{ row.fiscal_year }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Product Distribution Chart -->
      <div
        class="chart-container"
        *ngIf="isDataLoaded && barChart.series.length > 0"
      >
        <h3>Product Distribution</h3>
        <apx-chart
          #barChartRef
          [series]="barChart.series"
          [chart]="barChart.chart"
          [xaxis]="barChart.xaxis"
          [plotOptions]="barChart.plotOptions"
          [dataLabels]="barChart.dataLabels"
          [tooltip]="barChart.tooltip"
        ></apx-chart>
      </div>

      <!-- Industry Revenue -->
      <div class="chart-container" *ngIf="isDataLoaded">
        <h3>Revenue by Industry</h3>
        <apx-chart
          #areaChartRef
          [series]="areaChart.series"
          [chart]="areaChart.chart"
          [xaxis]="areaChart.xaxis"
          [stroke]="areaChart.stroke"
          [fill]="areaChart.fill"
          [dataLabels]="areaChart.dataLabels"
          [colors]="areaChart.colors"
          [tooltip]="areaChart.tooltip"
        ></apx-chart>
      </div>

      <!-- Revenue Filters -->
      <div
        class="filter-overlay"
        (click)="onOverlayClick($event)"
        *ngIf="showFilterOverlay"
      >
        <div class="filter-panel" (click)="$event.stopPropagation()">
          <h2>Signings Filters</h2>

          <div class="filter-group">
            <h3>Product Categories</h3>
            <label *ngFor="let category of uniqueProductCategories">
              <input
                type="checkbox"
                [value]="category"
                [checked]="selectedFilters.product_category.has(category)"
                (change)="toggleFilter('product_category', category, $event)"
              />
              <span>{{ category }}</span>
            </label>
          </div>

          <div class="filter-group">
            <h3>Quarter</h3>
            <label *ngFor="let quarter of uniqueQuarters">
              <input
                type="checkbox"
                [value]="quarter"
                [checked]="selectedFilters.fiscal_quarter.has(quarter)"
                (change)="toggleFilter('fiscal_quarter', quarter, $event)"
              />
              <span>{{ quarter }}</span>
            </label>
          </div>

          <div class="filter-group">
            <h3>Client Name</h3>
            <label>
              <input
                type="text"
                [(ngModel)]="searchTerm"
                placeholder="Search by client name"
                class="search-input"
              />
            </label>
          </div>

          <div class="filter-actions">
            <button class="apply-filters" (click)="applyFilters()">
              Apply Filters
            </button>
            <button class="clear-filters" (click)="clearFilters()">
              Clear Filters
            </button>
            <button class="close-filters" (click)="showFilterOverlay = false">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
