<div
  class="sidebar"
  [ngClass]="{ collapsed: isSidebarCollapsed, show: isMobileSidebarVisible }"
>
  <!-- Branding Section -->
  <div class="sidebar-brand">
    <h3 *ngIf="!isSidebarCollapsed">Sales Analytics</h3>
  </div>

  <!-- Navigation Links -->
  <nav>
    <a
      [routerLink]="['/landing-page']"
      [routerLinkActive]="'active'"
      [class.active]="activeLink === 'dashboard'"
    >
      <i class="material-icons">dashboard</i>
      <span *ngIf="!isSidebarCollapsed">Dashboard</span>
    </a>
    <a
      [routerLink]="['/clients-page']"
      [routerLinkActive]="'active'"
      [class.active]="activeLink === 'clients'"
    >
      <i class="material-icons">person</i>
      <span *ngIf="!isSidebarCollapsed">Clients</span>
    </a>
    <a
    *ngIf="username === 'shogg'"
    [routerLink]="['/account-executives']"
    [routerLinkActive]="'active'"
    [class.active]="activeLink === 'account-executives'"
  >
    <i class="material-icons">account_circle</i>
    <span *ngIf="!isSidebarCollapsed">Account Exec's</span>
  </a>
  
  
  </nav>

  <!-- Sales Section -->
  <div class="sidebar-section">
    <h3 *ngIf="!isSidebarCollapsed">Sales</h3>
    <nav>
      <a
        [routerLink]="['/pipeline']"
        [routerLinkActive]="'active'"
        [class.active]="activeLink === 'pipeline'"
      >
        <i class="material-icons">bar_chart</i>
        <span *ngIf="!isSidebarCollapsed">Pipeline</span>
      </a>
      <a
        [routerLink]="['/revenue-page']"
        [routerLinkActive]="'active'"
        [class.active]="activeLink === 'revenue'"
      >
        <i class="material-icons">trending_up</i>
        <span *ngIf="!isSidebarCollapsed">Revenue</span>
      </a>
      <a
        [routerLink]="['/count-to-wins']"
        [routerLinkActive]="'active'"
        [class.active]="activeLink === 'count-to-wins'"
      >
        <i class="material-icons">emoji_events</i>
        <span *ngIf="!isSidebarCollapsed">Count to Wins</span>
      </a>
      <a
        [routerLink]="['/signings']"
        [routerLinkActive]="'active'"
        [class.active]="activeLink === 'signings'"
      >
        <i class="material-icons">attach_money</i>
        <span *ngIf="!isSidebarCollapsed">Signings</span>
      </a>
    </nav>
  </div>

  <!-- Footer Section -->
  <div class="sidebar-footer">
    <a
      (click)="onLogout()"
      [routerLinkActive]="'active'"
      [class.active]="activeLink === 'logout'"
    >
      <i class="material-icons">logout</i>
      <span *ngIf="!isSidebarCollapsed">Logout</span>
    </a>
  </div>
</div>

<!-- Toggle Button -->
<button class="sidebar-toggle" (click)="toggleSidebar()">
  <i class="material-icons">
    {{ isMobileSidebarVisible || isSidebarCollapsed ? "menu" : "menu" }}
  </i>
</button>
